<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Retirar Stock</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container mt-5">
      <h2 class="title">Retirar Stock</h2>
      <form method="POST" action="/retirar_stock">
        <div class="form-group">
          <label for="produto">Produto</label>
          <select class="form-control" name="produto" id="produto" required>
            <option value="" disabled selected>Selecione um produto</option>
            {% for prod in produtos %}
            <option value="{{ prod.nome }}">{{ prod.nome }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="quantidade">Quantidade</label>
          <input type="number" class="form-control" id="quantidade" name="quantidade" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Retirar</button>
      </form>
      <br>
      <a href="/stock" class="btn-start" aria-label="Voltar">Voltar</a>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
  </html>